{% extends 'layouts/nav_foot.html' %}

{% load static %}

{% block title %}
    - Turnero
{% endblock title %}

{% block breadcrumb %}
<li>
    <a href="/turnero/">Turnero</a>
</li>
{% endblock breadcrumb %}

{% block main %}
<div class="container">
    <h4 class="mb-4 is-size-2 has-text-centered">Solicitar un turno</h4>
    <div id="responce"></div>
    <form id="turneroForm">
        {% csrf_token %}
        <div class="fixed-grid has-2-cols">
            <div class="grid is-column-gap-2">
                <div class="field">
                    <label for="medicoSelect" class="mb-2">Medico:</label>
                    <div class="control has-icon-rigth">
                        <div class="select">
                            <select name="medico" id="medicoSelect">
                                <option value="" disabled selected>Area medica</option>
                                {% for medico in medicos %}
                                <option value="{{ medico.medicoID }}">{{ medico.nombre }}-{{medico.especialidadID}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <span id="medicoIcon" class="icon is-small is-right">
                            
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label for="motivoTextarea">Motivo:</label>
                    <div class="control">
                        <textarea class="textarea" name="motivo" id="motivoTextarea"></textarea>
                    </div>
                    <span id="motivoIcon" class="icon is-small is-right">
                            
                    </span>
                </div>
                <div class="field">
                    <label for="horarioSelect" class="mb-2">Horarios:</label>
                    <div class="control has-icon-right">
                        <div class="select">
                            <select name="horario" id="horarioSelect">
                                <option value="" disabled selected>00:00</option>
                                {% for horario in horarios %}
                                <option value="{{ horario.horarioID }}">{{ horario.hora_inicio }}-{{horario.hora_fin}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <span id="horarioIcon" class="icon is-small is-right">
                            
                        </span>
                    </div>
                </div>
                <div>
                    <label for="comprobanteButton">Comprobante:</label>
                    <div class="control">
                        <button type="button" id="comprobanteButton" class="button is-info is-static">
                            <span>Descargar</span>
                            <span class="icon">
                                <i class="fa-solid fa-download"></i>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="field">
                    <label name="fecha" for="fechaInput" class="mb-2">Fecha:</label>
                    <div class="control has-icon-right">
                        <input type="date" id="fechaInput" class="input">
                        <span id="fechaIcon" class="icon is-small is-right">
                                
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <button id="solicitarButton" type="button" class="button is-primary is-fullwidth mt-5">
        <span>Solicitar</span>
        <span class="icon">
            <i class="fa-solid fa-paper-plane"></i>
        </span>
    </button>
</div>
{% endblock main %}

{% block scripts %}
<script type="module" src="{% static 'js/from.js' %}"></script>
{% endblock scripts %}