{% extends 'layouts/nav_foot.html' %}

{% load static %}

{% block title %}
- Confirmar Turno
{% endblock title %}

{% block styles %}
<style>
    .btn {
        border-radius: 0;
        /* Bordes rectos */
    }

    .btn-dark {
        background-color: #000000;
        border: 2px solid #ffffff;
        color: #ffffff;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
        /* Centra el contenedor horizontalmente */
    }

    /* Estilo para las tarjetas */
    .card {
        border: 2px solid black;
        border-radius: 0;
        /* Bordes rectos */
        background-color: #ffffff;
    }
</style>
{% endblock styles %}

{% block main %}
<div class="container my-5">
    <h2 class="text-center text-primary mb-5">Confirmar Turno</h2>
    <div class="card shadow-lg">
        <div class="card-body">
            <h4 class="card-title text-info mb-3">
                Dr. {{ medico.nombre }} <small class="text-muted">- {{ medico.especialidadID }}</small>
            </h4>
            <p class="card-text fs-5">
                <strong class="text-secondary">Motivo:</strong> <span class="fw-bold">{{ motivo }}</span><br>
                <strong class="text-secondary">Horario:</strong> <span class="fw-bold">{{ horario.hora_inicio }} -
                    {{horario.hora_fin }}</span><br>
                <strong class="text-secondary">Fecha:</strong> <span class="fw-bold">{{ fecha }}</span>
            </p>
            <div class="d-grid mt-4">
                <button id="checkout-btn" class="btn btn-dark btn-lg">Confirmar</button>
                <div id="wallet-container" class="mt-3"></div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}

{% block scripts %}
<script src="{% static 'js/app.js' %}"></script>
{% endblock scripts %}