{% extends 'layouts/nav_foot.html' %}

{% load static %}

{% block title %}
    - Turno Data
{% endblock title %}

{% block breadcrumb %}
<li>
    <a href="/turnero/turnos/{{turno.TurnoID}}/">Turno {{turno.TurnoID}}</a>
</li>
{% endblock breadcrumb %}

{% block main %}
<div class="container">
    <!-- Turn Details Section -->
    <section class="section">
        <div class="container">
            <h1 class="title">Detalles del Turno</h1>
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>Nombre del Paciente:</strong> <span id="nombre-paciente">{{turno.userID.nombre}} {{turno.userID.apellido}}</span><br>
                                <strong>Fecha del Turno:</strong> <span id="fecha-turno">{{turno.fecha}}</span><br>
                                <strong>Hora del Turno:</strong> <span id="hora-turno">{{turno.citaID.horarioID.hora_inicio}} - {{turno.citaID.horarioID.hora_fin}}</span><br>
                                <strong>Especialidad:</strong> <span id="especialidad">{{turno.citaID.medicoID.especialidadID.nombre}}</span><br>
                                <strong>Médico:</strong> <span id="medico">{{turno.citaID.medicoID.nombre}} {{turno.citaID.medicoID.especialidadID.apellido}}</span><br>
                                <strong>Estado:</strong> <span id="estado">{{turno.estado}}</span>
                            </p>
                        </div>
                    </div>
                </article>
            </div>
            <a role="button" class="button is-primary" href="{% url 'PanelUser' %}">Regresar a la Lista de Turnos</a>
            <a role="button" class="button is-info" href="/turnero/comprobantes/{{turno.TurnoID}}/">Descargar Comprobante</a>
            <a id="deleteTurno" role="button" class="button is-danger">Canselar</a>
        </div>
    </section>
</div>
{% endblock main %}

{% block scripts %}
<script>
    localStorage.setItem('turnoID','{{turno.TurnoID}}')
</script>
<script type="module" src="{% static "js/deleteTurno.js" %}"></script>
{% endblock scripts %}

{% block styles %}
{% endblock styles %}