// Importar Bootstrap
@import "../../../../node_modules/bootstrap/scss/bootstrap";

// Colores de Material Design
$primary: #6200ea;   // Color primario (Purple)
$secondary: #03dac5; // Color secundario (Teal)
$success: #4caf50;   // Verde
$info: #2196f3;      // Azul
$warning: #fb8c00;   // Naranja
$danger: #f44336;    // Rojo
$light: #f5f5f5;     // Gris claro
$dark: #212121;      // Gris oscuro
$gray: #7a7a7a;      // Gris medio
$link: #2196f3;      // Color de enlace

// Estilos generales para todos los botones
$btn-border-radius: 4px;
$btn-border-width: 0;

// Radio de borde para botones de tamaño grande
$btn-border-radius-rounded: 20px;

// Estilos generales para todos los botones de icono
$btn-icon-size: 40px; // Tamaño del botón de icono
$btn-icon-border-radius: 50px; // Radio de borde para botones de icono

// Cambiando los colores de fondo y texto para botones por defecto
$btn-bg: $primary; // Color de fondo por defecto
$btn-color: white; // Color de texto por defecto

// Otros estilos de botones
$btn-padding-y: 0.4rem;
$btn-padding-x: 1.2rem;

// Variables for colors and spacing
$navbar-bg-color: rgba(255, 255, 255, 0.6); // Color de fondo translúcido
$navbar-blur: 10px; // Desenfoque del fondo

// Sombra de Material Design para los botones
@mixin material-button-shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), 0 6px 16px rgba(0, 0, 0, 0.15);
    }

    &:active {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 6px rgba(0, 0, 0, 0.1);
    }
}

// Sombra de Material Design para los botones de icono
@mixin material-icon-button-shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 4px 12px rgba(0, 0, 0, 0.15);
    }

    &:active {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 6px rgba(0, 0, 0, 0.1);
    }
}

// Aplicar el estilo a todos los botones
.btn {
    @include material-button-shadow;
    position: relative; // Asegúrate de que los botones tengan posición relativa
    overflow: hidden; // Evitar que el ripple se desborde del botón
    z-index: 1; // Mantener el botón encima del ripple
    border-radius: $btn-border-radius;
    border: $btn-border-width;
    background-color: $btn-bg; // Usar el color de fondo por defecto
    color: $btn-color; // Usar el color de texto por defecto
    padding: $btn-padding-y $btn-padding-x; // Aplicar padding

    // Personaliza los estilos en base a las clases de Bootstrap
    &.btn-primary {
        background-color: $primary;
        color: $btn-color;

        &:hover {
            background-color: $primary;
        }

        // Estilos para botón outlined
        &.btn-outline {
            background-color: transparent;
            border: 2px solid $primary; // Cambia $primary por el color que desees
            color: $primary;

            &:hover {
                background-color: $primary; // Cambia a color primario al pasar el ratón
                color: white; // Cambia el color del texto al pasar el ratón
            }
        }

        &.btn-white {
            background-color: white;
            color: $primary;

            &:hover {
                background-color: white;
                color: $primary
            }
        }

        &.btn-rounded {
            border-radius: $btn-border-radius-rounded; // Aplicar el radio de borde
            @include material-button-shadow; // Aplicar sombra
        }
    }

    &.btn-secondary {
        background-color: $secondary;
        color: $btn-color;

        &:hover {
            background-color: $secondary;
        }

        // Estilos para botón outlined
        &.btn-outline {
            background-color: transparent;
            border: 2px solid $secondary;
            color: $secondary;

            &:hover {
                background-color: $secondary;
                color: white;
            }
        }

        &.btn-white {
            background-color: white;
            color: $secondary;

            &:hover {
                background-color: white;
                color: $secondary;
            }
        }

        &.btn-rounded {
            border-radius: $btn-border-radius-rounded; // Aplicar el radio de borde
            @include material-button-shadow; // Aplicar sombra
        }
    }

    &.btn-success {
        background-color: $success;
        color: $btn-color;

        &:hover {
            background-color: $success;
        }

        &.btn-outline {
            background-color: transparent;
            border: 2px solid $success;
            color: $success;

            &:hover {
                background-color: $success;
                color: white;
            }
        }

        &.btn-white {
            background-color: white;
            color: $success;

            &:hover {
                background-color: white;
                color: $success;
            }
        }

        &.btn-rounded {
            border-radius: $btn-border-radius-rounded; // Aplicar el radio de borde
            @include material-button-shadow; // Aplicar sombra
        }
    }

    &.btn-info {
        background-color: $info;
        color: $btn-color;

        &:hover {
            background-color: $info;
        }

        &.btn-outline {
            background-color: transparent;
            border: 2px solid $info;
            color: $info;

            &:hover {
                background-color: $info;
                color: white;
            }
        }

        &.btn-white {
            background-color: white;
            color: $info;

            &:hover {
                background-color: white;
                color: $info;
            }
        }

        &.btn-rounded {
            border-radius: $btn-border-radius-rounded; // Aplicar el radio de borde
            @include material-button-shadow; // Aplicar sombra
        }
    }

    &.btn-warning {
        background-color: $warning;
        color: $btn-color;

        &:hover {
            background-color: $warning;
        }

        &.btn-outline {
            background-color: transparent;
            border: 2px solid $warning;
            color: $warning;

            &:hover {
                background-color: $warning;
                color: white;
            }
        }

        &.btn-white {
            background-color: white;
            color: $warning;

            &:hover {
                background-color: white;
                color: $warning;
            }
        }

        &.btn-rounded {
            border-radius: $btn-border-radius-rounded; // Aplicar el radio de borde
            @include material-button-shadow; // Aplicar sombra
        }
    }

    &.btn-danger {
        background-color: $danger;
        color: $btn-color;

        &:hover {
            background-color: $danger;
        }

        &.btn-outline {
            background-color: transparent;
            border: 2px solid $danger;
            color: $danger;

            &:hover {
                background-color: $danger;
                color: white;
            }
        }

        &.btn-white {
            background-color: white;
            color: $danger;

            &:hover {
                background-color: white;
                color: $danger;
            }
        }

        &.btn-rounded {
            border-radius: $btn-border-radius-rounded; // Aplicar el radio de borde
            @include material-button-shadow; // Aplicar sombra
        }
    }

    &.btn-light {
        background-color: $light;
        color: $gray;

        &:hover {
            background-color: $light;
        }

        &.btn-outline {
            background-color: transparent;
            border: 2px solid $gray;
            color: $gray;

            &:hover {
                background-color: $light;
                color: rgb(23, 23, 23);
            }
        }

        &.btn-white {
            background-color: white;
            color: $gray;

            &:hover {
                background-color: white;
                color: $gray;
            }
        }

        &.btn-rounded {
            border-radius: $btn-border-radius-rounded; // Aplicar el radio de borde
            @include material-button-shadow; // Aplicar sombra
        }
    }

    &.btn-dark {
        background-color: $dark;
        color: $btn-color;

        &:hover {
            background-color: $dark;
        }

        &.btn-outline {
            background-color: transparent;
            border: 2px solid $dark;
            color: $dark;

            &:hover {
                background-color: $dark;
                color: white;
            }
        }

        &.btn-white {
            background-color: white;
            color: $dark;

            &:hover {
                background-color: white;
                color: $dark;
            }
        }

        &.btn-rounded {
            border-radius: $btn-border-radius-rounded; // Aplicar el radio de borde
            @include material-button-shadow; // Aplicar sombra
        }
    }

    &.btn-link {
        background-color: $link;
        color: $btn-color;

        &:hover {
            background-color: $link;
        }

        &.btn-outline {
            background-color: transparent;
            border: 2px solid $link;
            color: $link;

            &:hover {
                background-color: $link;
                color: white;
            }
        }

        &.btn-white {
            background-color: white;
            color: $link;

            &:hover {
                background-color: white;
                color: $link;
            }
        }

        &.btn-rounded {
            border-radius: $btn-border-radius-rounded; // Aplicar el radio de borde
            @include material-button-shadow; // Aplicar sombra
        }
    }
}

.btn-icon {
    width: $btn-icon-size; // Establecer el ancho del botón
    height: $btn-icon-size; // Establecer la altura del botón
    border-radius: $btn-icon-border-radius; // Aplicar el radio de borde
    display: flex; // Usar flex para centrar el icono
    align-items: center; // Centrar verticalmente
    justify-content: center; // Centrar horizontalmente
    color: white; // Color del icono
    background-color: $primary; // Color de fondo por defecto

    // Efecto de sombra
    @include material-icon-button-shadow;

    // Estilos para icono primario
    &.btn-icon-primary {
        background-color: $primary;

        &:hover {
            background-color: darken($primary, 10%); // Oscurecer el color al pasar el ratón
        }
    }

    // Estilos para icono secundario
    &.btn-icon-secondary {
        background-color: $secondary;

        &:hover {
            background-color: darken($secondary, 10%);
        }
    }

    // Estilos para icono de éxito
    &.btn-icon-success {
        background-color: $success;

        &:hover {
            background-color: darken($success, 10%);
        }
    }

    // Estilos para icono de información
    &.btn-icon-info {
        background-color: $info;

        &:hover {
            background-color: darken($info, 10%);
        }
    }

    // Estilos para icono de advertencia
    &.btn-icon-warning {
        background-color: $warning;

        &:hover {
            background-color: darken($warning, 10%);
        }
    }

    // Estilos para icono de peligro
    &.btn-icon-danger {
        background-color: $danger;

        &:hover {
            background-color: darken($danger, 10%);
        }
    }
}

// Estilos para los botones de icono con fondo blanco
.btn-icon-white {
    width: $btn-icon-size; // Establecer el ancho del botón
    height: $btn-icon-size; // Establecer la altura del botón
    border-radius: $btn-icon-border-radius; // Aplicar el radio de borde
    display: flex; // Usar flex para centrar el icono
    align-items: center; // Centrar verticalmente
    justify-content: center; // Centrar horizontalmente
    color: white; // Color del icono por defecto
    background-color: white; // Fondo blanco
    border: 2px solid transparent; // Sin borde por defecto

    // Efecto de sombra
    @include material-icon-button-shadow;

    // Estilos para icono primario
    &.btn-icon-primary {
        color: $primary; // Color del icono

        &:hover {
            background-color: $primary; // Fondo del color primario al pasar el ratón
            color: white; // Color del icono al pasar el ratón
        }
    }

    // Estilos para icono secundario
    &.btn-icon-secondary {
        color: $secondary; // Color del icono

        &:hover {
            background-color: $secondary; // Fondo del color secundario al pasar el ratón
            color: white; // Color del icono al pasar el ratón
        }
    }

    // Estilos para icono de éxito
    &.btn-icon-success {
        color: $success; // Color del icono

        &:hover {
            background-color: $success; // Fondo del color de éxito al pasar el ratón
            color: white; // Color del icono al pasar el ratón
        }
    }

    // Estilos para icono de información
    &.btn-icon-info {
        color: $info; // Color del icono

        &:hover {
            background-color: $info; // Fondo del color de información al pasar el ratón
            color: white; // Color del icono al pasar el ratón
        }
    }

    // Estilos para icono de advertencia
    &.btn-icon-warning {
        color: $warning; // Color del icono

        &:hover {
            background-color: $warning; // Fondo del color de advertencia al pasar el ratón
            color: white; // Color del icono al pasar el ratón
        }
    }

    // Estilos para icono de peligro
    &.btn-icon-danger {
        color: $danger; // Color del icono

        &:hover {
            background-color: $danger; // Fondo del color de peligro al pasar el ratón
            color: white; // Color del icono al pasar el ratón
        }
    }
}

// Estilos para el efecto ripple
.ripple {
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.6); // Color del efecto ripple
    transform: scale(0);
    animation: ripple-animation 0.6s linear;
    pointer-events: none; // Para evitar interferencias con clics
    z-index: 1; // Asegúrate de que esté en la parte superior

    @keyframes ripple-animation {
        to {
            transform: scale(4); // Escalar el efecto
            opacity: 0; // Hacerlo invisible
        }
    }
}

.panel, .card {
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-bottom: 1.5rem;
    background-color: $light;
    color: $dark;
}


.card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15), 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}


.sidebar {
    background-color: #343A40; // Fondo oscuro de la sidebar
    color: #FFFFFF; // Texto blanco
    padding: 1rem;

    .nav-link {
        position: relative;
        overflow: hidden;
        z-index: 1;
        background-color: transparent;
        border: 2px solid #343A40; // Bordes del mismo color que el fondo
        color: #17A2B8; // Color azul claro para los enlaces
        font-weight: bold;
        padding: 0.5rem 1rem; // Ajusta el padding según sea necesario
        border-radius: 0px; // Ajusta el border-radius según sea necesario
        transition: background-color 0.3s, color 0.3s;

        &:hover {
            background-color: #138496; // Azul más oscuro al pasar el mouse
            color: #FFFFFF; // Texto blanco
        }

        &.active {
            background-color: #138496; // Azul más oscuro para el estado activo
            color: #FFFFFF; // Texto blanco
        }
    }

    .nav-header {
        font-weight: bold;
        color: #B0BEC5; // Color gris claro para los encabezados
        padding: 0.5rem 0; // Espaciado para los encabezados
    }

    .user-panel {
        .info a {
            color: #17A2B8; // Color del enlace del usuario
            font-weight: bold;
            &:hover {
                color: #138496; // Color al pasar el mouse
            }
        }
    }
}

.main-header {
    background-color: $navbar-bg-color; // Color de fondo translúcido
    position: fixed;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur($navbar-blur);
    padding: 15px 20px; // Espaciado interno
    margin: 0 auto;
    left: 0;
    right: 0;
}

.view-port {
    margin-right: 65px; // Márgen inicial para pantallas grandes
    padding-right: 0;   // Asegura que no haya padding derecho

    @media (max-width: 768px) {
        margin-right: 10px; // Reduce margen en pantallas medianas
    }

    @media (max-width: 576px) {
        margin-right: 5px; // Ajusta margen para pantallas pequeñas
        padding-right: 15px; // Añade padding en lugar de margen para mantener el contenido dentro del viewport
    }
}

.content-wrapper{
    padding-top: 65px;
}