{% extends 'layouts/nav_foot.html' %}

{% load static %}

{% block title %}
    - Login
{% endblock title %}

{% block breadcrumb %}
<li>
    <a href="/user/login/">Login</a>
</li>
{% endblock breadcrumb %}

{% block main %}
<div class="container container-60">
    <h4 class="mb-4 is-size-2 has-text-centered">Login</h4>
    <div id="responce"></div>
    <div class="columns is-vcentered is-centered">
        <div class="column is-5">
            <form id="loginForm" class="box">
                {% csrf_token %}
                <div class="field mb-4">
                    <label for="dniInput">DNI</label>
                    <div class="control">
                        <input type="text" id="dniInput" class="input" placeholder="00000000">
                    </div>
                </div>
                <div class="field mb-4">
                    <label for="contraseñaInput">Contraseña</label>
                    <div class="control">
                        <input type="text" id="contraseñaInput" class="input" placeholder="********">
                    </div>
                </div>
                <div>
                    <button id="loginButton" type="button" class="button is-fullwidth is-info">
                        <span>Login</span>
                        <span class="icon">
                            <i class="fa-solid fa-paper-plane"></i>
                        </span>
                    </button>
                </div>
                <p class="has-text-centered mt-5">
                    No tienes cuenta? <a href="/user/register/">Register</a>
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock main %}

{% block scripts %}
<script type="module" src="{% static 'js/login.js'%}"></script>
{% endblock scripts %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock styles %}