// Importar Bootstrap
@import "../../../../node_modules/bootstrap/scss/bootstrap";

// Colores de Material Design
$primary: #6200ea;   // Color primario (Purple)
$secondary: #03dac5; // Color secundario (Teal)
$success: #4caf50;   // Verde
$info: #2196f3;      // Azul
$warning: #fb8c00;   // Naranja
$danger: #f44336;    // Rojo
$light: #f5f5f5;     // Gris claro
$dark: #212121;      // Gris oscuro
$gray: #7a7a7a;      // Gris medio
$link: #2196f3;      // Color de enlace

// Estilos generales para todos los botones
$btn-border-radius: 4px;
$btn-border-width: 0;

// Radio de borde para botones de tamaño grande
$btn-border-radius-rounded: 20px;

// Estilos generales para todos los botones de icono
$btn-icon-size: 40px; // Tamaño del botón de icono
$btn-icon-border-radius: 50px; // Radio de borde para botones de icono

// Cambiando los colores de fondo y texto para botones por defecto
$btn-bg: $primary; // Color de fondo por defecto
$btn-color: white; // Color de texto por defecto

// Otros estilos de botones
$btn-padding-y: 0.4rem;
$btn-padding-x: 1.2rem;

// Sombra de Material Design para los botones
@mixin material-button-shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), 0 6px 16px rgba(0, 0, 0, 0.15);
    }

    &:active {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 6px rgba(0, 0, 0, 0.1);
    }
}

// Sombra de Material Design para los botones de icono
@mixin material-icon-button-shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 4px 12px rgba(0, 0, 0, 0.15);
    }

    &:active {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 6px rgba(0, 0, 0, 0.1);
    }
}

// Aplicar el estilo a todos los botones
.btn {
    @include material-button-shadow;
    position: relative; // Asegúrate de que los botones tengan posición relativa
    overflow: hidden; // Evitar que el ripple se desborde del botón
    z-index: 1; // Mantener el botón encima del ripple
    border-radius: $btn-border-radius;
    border: $btn-border-width;
    background-color: $btn-bg; // Usar el color de fondo por defecto
    color: $btn-color; // Usar el color de texto por defecto
    padding: $btn-padding-y $btn-padding-x; // Aplicar padding

    // Personaliza los estilos en base a las clases de Bootstrap
    &.btn-primary {
        background-color: $primary;
        color: $btn-color;

        &:hover {
            background-color: $primary;
        }

        // Estilos para botón outlined
        &.btn-outline {
            background-color: transparent;
            border: 2px solid $primary; // Cambia $primary por el color que desees
            color: $primary;

            &:hover {
                background-color: $primary; // Cambia a color primario al pasar el ratón
                color: white; // Cambia el color del texto al pasar el ratón
            }
        }

        &.btn-white {
            background-color: white;
            color: $primary;

            &:hover {
                background-color: white;
                color: $primary
            }
        }

        &.btn-rounded {
            border-radius: $btn-border-radius-rounded; // Aplicar el radio de borde
            @include material-button-shadow; // Aplicar sombra
        }
    }

    &.btn-secondary {
        background-color: $secondary;
        color: $btn-color;

        &:hover {
            background-color: $secondary;
        }

        // Estilos para botón outlined
        &.btn-outline {
            background-color: transparent;
            border: 2px solid $secondary;
            color: $secondary;

            &:hover {
                background-color: $secondary;
                color: white;
            }
        }

        &.btn-white {
            background-color: white;
            color: $secondary;

            &:hover {
                background-color: white;
                color: $secondary;
            }
        }

        &.btn-rounded {
            border-radius: $btn-border-radius-rounded; // Aplicar el radio de borde
            @include material-button-shadow; // Aplicar sombra
        }
    }

    &.btn-success {
        background-color: $success;
        color: $btn-color;

        &:hover {
            background-color: $success;
        }

        &.btn-outline {
            background-color: transparent;
            border: 2px solid $success;
            color: $success;

            &:hover {
                background-color: $success;
                color: white;
            }
        }

        &.btn-white {
            background-color: white;
            color: $success;

            &:hover {
                background-color: white;
                color: $success;
            }
        }

        &.btn-rounded {
            border-radius: $btn-border-radius-rounded; // Aplicar el radio de borde
            @include material-button-shadow; // Aplicar sombra
        }
    }

    &.btn-info {
        background-color: $info;
        color: $btn-color;

        &:hover {
            background-color: $info;
        }

        &.btn-outline {
            background-color: transparent;
            border: 2px solid $info;
            color: $info;

            &:hover {
                background-color: $info;
                color: white;
            }
        }

        &.btn-white {
            background-color: white;
            color: $info;

            &:hover {
                background-color: white;
                color: $info;
            }
        }

        &.btn-rounded {
            border-radius: $btn-border-radius-rounded; // Aplicar el radio de borde
            @include material-button-shadow; // Aplicar sombra
        }
    }

    &.btn-warning {
        background-color: $warning;
        color: $btn-color;

        &:hover {
            background-color: $warning;
        }

        &.btn-outline {
            background-color: transparent;
            border: 2px solid $warning;
            color: $warning;

            &:hover {
                background-color: $warning;
                color: white;
            }
        }

        &.btn-white {
            background-color: white;
            color: $warning;

            &:hover {
                background-color: white;
                color: $warning;
            }
        }

        &.btn-rounded {
            border-radius: $btn-border-radius-rounded; // Aplicar el radio de borde
            @include material-button-shadow; // Aplicar sombra
        }
    }

    &.btn-danger {
        background-color: $danger;
        color: $btn-color;

        &:hover {
            background-color: $danger;
        }

        &.btn-outline {
            background-color: transparent;
            border: 2px solid $danger;
            color: $danger;

            &:hover {
                background-color: $danger;
                color: white;
            }
        }

        &.btn-white {
            background-color: white;
            color: $danger;

            &:hover {
                background-color: white;
                color: $danger;
            }
        }

        &.btn-rounded {
            border-radius: $btn-border-radius-rounded; // Aplicar el radio de borde
            @include material-button-shadow; // Aplicar sombra
        }
    }

    &.btn-light {
        background-color: $light;
        color: $gray;

        &:hover {
            background-color: $light;
        }

        &.btn-outline {
            background-color: transparent;
            border: 2px solid $gray;
            color: $gray;

            &:hover {
                background-color: $light;
                color: rgb(23, 23, 23);
            }
        }

        &.btn-white {
            background-color: white;
            color: $gray;

            &:hover {
                background-color: white;
                color: $gray;
            }
        }

        &.btn-rounded {
            border-radius: $btn-border-radius-rounded; // Aplicar el radio de borde
            @include material-button-shadow; // Aplicar sombra
        }
    }

    &.btn-dark {
        background-color: $dark;
        color: $btn-color;

        &:hover {
            background-color: $dark;
        }

        &.btn-outline {
            background-color: transparent;
            border: 2px solid $dark;
            color: $dark;

            &:hover {
                background-color: $dark;
                color: white;
            }
        }

        &.btn-white {
            background-color: white;
            color: $dark;

            &:hover {
                background-color: white;
                color: $dark;
            }
        }

        &.btn-rounded {
            border-radius: $btn-border-radius-rounded; // Aplicar el radio de borde
            @include material-button-shadow; // Aplicar sombra
        }
    }

    &.btn-link {
        background-color: $link;
        color: $btn-color;

        &:hover {
            background-color: $link;
        }

        &.btn-outline {
            background-color: transparent;
            border: 2px solid $link;
            color: $link;

            &:hover {
                background-color: $link;
                color: white;
            }
        }

        &.btn-white {
            background-color: white;
            color: $link;

            &:hover {
                background-color: white;
                color: $link;
            }
        }

        &.btn-rounded {
            border-radius: $btn-border-radius-rounded; // Aplicar el radio de borde
            @include material-button-shadow; // Aplicar sombra
        }
    }
}

.btn-icon {
    width: $btn-icon-size; // Establecer el ancho del botón
    height: $btn-icon-size; // Establecer la altura del botón
    border-radius: $btn-icon-border-radius; // Aplicar el radio de borde
    display: flex; // Usar flex para centrar el icono
    align-items: center; // Centrar verticalmente
    justify-content: center; // Centrar horizontalmente
    color: white; // Color del icono
    background-color: $primary; // Color de fondo por defecto

    // Efecto de sombra
    @include material-icon-button-shadow;

    // Estilos para icono primario
    &.btn-icon-primary {
        background-color: $primary;

        &:hover {
            background-color: darken($primary, 10%); // Oscurecer el color al pasar el ratón
        }
    }

    // Estilos para icono secundario
    &.btn-icon-secondary {
        background-color: $secondary;

        &:hover {
            background-color: darken($secondary, 10%);
        }
    }

    // Estilos para icono de éxito
    &.btn-icon-success {
        background-color: $success;

        &:hover {
            background-color: darken($success, 10%);
        }
    }

    // Estilos para icono de información
    &.btn-icon-info {
        background-color: $info;

        &:hover {
            background-color: darken($info, 10%);
        }
    }

    // Estilos para icono de advertencia
    &.btn-icon-warning {
        background-color: $warning;

        &:hover {
            background-color: darken($warning, 10%);
        }
    }

    // Estilos para icono de peligro
    &.btn-icon-danger {
        background-color: $danger;

        &:hover {
            background-color: darken($danger, 10%);
        }
    }
}

// Estilos para los botones de icono con fondo blanco
.btn-icon-white {
    width: $btn-icon-size; // Establecer el ancho del botón
    height: $btn-icon-size; // Establecer la altura del botón
    border-radius: $btn-icon-border-radius; // Aplicar el radio de borde
    display: flex; // Usar flex para centrar el icono
    align-items: center; // Centrar verticalmente
    justify-content: center; // Centrar horizontalmente
    color: white; // Color del icono por defecto
    background-color: white; // Fondo blanco
    border: 2px solid transparent; // Sin borde por defecto

    // Efecto de sombra
    @include material-icon-button-shadow;

    // Estilos para icono primario
    &.btn-icon-primary {
        color: $primary; // Color del icono

        &:hover {
            background-color: $primary; // Fondo del color primario al pasar el ratón
            color: white; // Color del icono al pasar el ratón
        }
    }

    // Estilos para icono secundario
    &.btn-icon-secondary {
        color: $secondary; // Color del icono

        &:hover {
            background-color: $secondary; // Fondo del color secundario al pasar el ratón
            color: white; // Color del icono al pasar el ratón
        }
    }

    // Estilos para icono de éxito
    &.btn-icon-success {
        color: $success; // Color del icono

        &:hover {
            background-color: $success; // Fondo del color de éxito al pasar el ratón
            color: white; // Color del icono al pasar el ratón
        }
    }

    // Estilos para icono de información
    &.btn-icon-info {
        color: $info; // Color del icono

        &:hover {
            background-color: $info; // Fondo del color de información al pasar el ratón
            color: white; // Color del icono al pasar el ratón
        }
    }

    // Estilos para icono de advertencia
    &.btn-icon-warning {
        color: $warning; // Color del icono

        &:hover {
            background-color: $warning; // Fondo del color de advertencia al pasar el ratón
            color: white; // Color del icono al pasar el ratón
        }
    }

    // Estilos para icono de peligro
    &.btn-icon-danger {
        color: $danger; // Color del icono

        &:hover {
            background-color: $danger; // Fondo del color de peligro al pasar el ratón
            color: white; // Color del icono al pasar el ratón
        }
    }
}

// Estilos para el efecto ripple
.ripple {
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.6); // Color del efecto ripple
    transform: scale(0);
    animation: ripple-animation 0.6s linear;
    pointer-events: none; // Para evitar interferencias con clics
    z-index: 1; // Asegúrate de que esté en la parte superior

    @keyframes ripple-animation {
        to {
            transform: scale(4); // Escalar el efecto
            opacity: 0; // Hacerlo invisible
        }
    }
}

.panel, .card {
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-bottom: 1.5rem;
    background-color: $light;
    color: $dark;
}

.panel-header {
    font-weight: bold;
    font-size: 1.2rem;
    color: $primary;
    margin-bottom: 0.5rem;
}

.panel-body {
    font-size: 0.9rem;
    color: $gray;
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15), 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.panel-header {
    background: linear-gradient(45deg, $primary, $secondary);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 6px 6px 0 0;
}


.sidebar {
    background-color: $dark;
    color: $light;
    padding: 1rem;

    .nav-link {
        // Estilo outline por defecto
        position: relative; // Asegúrate de que los botones tengan posición relativa
        overflow: hidden; // Evitar que el ripple se desborde del botón
        z-index: 1; // Mantener el botón encima del ripple
        background-color: transparent;
        border: 2px solid $primary;
        color: $primary;
        font-weight: bold;
        padding: $btn-padding-y $btn-padding-x;
        border-radius: $btn-border-radius;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
            background-color: $primary;
            color: white;
        }

        &.active {
            background-color: $primary;
            color: white;
        }
    }
}
