/* Estilo para las tarjetas */
.card {
    border: 2px solid black;
    border-radius: 0; /* Bordes rectos */
    background-color: #ffffff;
}

/* Estilo para los botones */
.btn {
    border-radius: 0; /* Bordes rectos */
}

.btn-dark {
    background-color: #000000;
    border: 2px solid #ffffff;
    color: #ffffff;

    &:hover{
        transform: scale(1.05); /* Efecto de aumento al pasar el mouse */
    }
}

/* Estilo para los inputs */
.form-control {
    border-radius: 0; /* Bordes rectos */
    border: 2px solid #000000;
}

.form-floating label {
    color: #000000;
}


/* Estilo general */
body {
    background-color: #f8f9fa; /* Fondo claro */
    color: #000000; /* Texto negro */
}

.social-btn {
    background-color: #ffffff;
    color: #757575;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    border: 1px solid #ddd;
    padding: 8px 16px;
    font-size: 16px;
}

.social-btn:hover {
    transform: scale(1.05); /* Efecto de aumento al pasar el mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.social-btn svg {
    margin-right: 10px;
}

.google-btn {
    background-color: #ffffff;
    color: #757575;
}

.facebook-btn {
    background-color: #1877F2;
    color: #ffffff;
}

.twitter-btn {
    background-color: #08090C;
    color: #ffffff;
}

.twitter-btn:hover {
    background-color: #08090C;
    color: #fff;
}

.github-btn {
    background-color: #333;
    color: #ffffff;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 1.5rem 0;

  &::before,
  &::after {
    content: "";
    flex: 1;
    border-top: 1px solid #dee2e6;
  }

  span {
    padding: 0 1rem; // Espacio alrededor del texto
    color: #6c757d; // Color de texto
    font-weight: 500;
  }
}

.input-group-text {
    background-color: #fff; // Fondo blanco para el ícono
    color: #000; // Texto (ícono) en negro
    border: 1px solid #ced4da; // Borde igual al input
    border-right: none; // Quita el borde derecho para unir con el input
    display: flex;
    align-items: center;
}

.form-control[type="file"] {
    border-left: none; // Quita el borde izquierdo para unir con el ícono
    color: #000; // Texto en negro
    background-color: #92BCEA; // Fondo blanco
    font-size: 0.875rem;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #7699D4; // Fondo gris claro en hover
    }
}

