/* Estilo para el contenedor */
.container {
    max-width: 1200px;
}

/* Estilo para las tarjetas */
.card {
    border: 2px solid black;
    border-radius: 0; /* Bordes rectos */
    background-color: #ffffff;
}

/* Estilo para los botones */
.btn {
    border-radius: 0; /* Bordes rectos */
}

.btn-dark {
    background-color: #000000;
    border: 2px solid #ffffff;
    color: #ffffff;
}

.btn-danger {
    background-color: #ea4335;
    border: 2px solid #ffffff;
}

/* Estilo para los inputs */
.form-control {
    border-radius: 0; /* Bordes rectos */
    border: 2px solid #000000;
}

.form-floating label {
    color: #000000;
}

/* Estilo para los botones de subida de imagen */
input[type="file"] {
    border: 2px solid #000000;
    border-radius: 0;
}


/* Estilo general */
body {
    background-color: #f8f9fa; /* Fondo claro */
    color: #000000; /* Texto negro */
}

.social-btn {
    background-color: #ffffff;
    color: #757575;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    border: 1px solid #ddd;
    padding: 8px 16px;
    font-size: 16px;
}

.social-btn:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.social-btn svg {
    margin-right: 10px;
}

.google-btn {
    background-color: #ffffff;
    color: #757575;
}

.facebook-btn {
    background-color: #1877F2;
    color: #ffffff;
}

.twitter-btn {
    background-color: #08090C;
    color: #ffffff;
}

.twitter-btn:hover {
    background-color: #08090C;
    color: #fff;
}

.github-btn {
    background-color: #333;
    color: #ffffff;
}