{% extends 'layouts/nav_foot.html' %}

{% load static %}

{% block title %}Nosotros - Hospital SDLG{% endblock %}

{% block breadcrumb %}
<li>
    <a href="/blog/nosotros/">Contactos</a>
</li>
{% endblock breadcrumb %}
{% block main %}
<div class="container my-6">
    <h2 class="title is-3 has-text-centered mb-6">Nosotros</h2>
    
    <section class="mb-6">
        <h3 class="title is-4 mb-4">Nuestra Misión</h3>
        <p class="content">
            En Hospital SDLG, nuestra misión es proporcionar atención médica de alta calidad a todos nuestros pacientes. Estamos comprometidos con la excelencia en el cuidado de la salud y en la mejora continua de nuestros servicios.
        </p>
    </section>
    
    <section class="mb-6">
        <h3 class="title is-4 mb-4">Nuestro Equipo</h3>
        <p class="content">
            Contamos con un equipo de profesionales altamente capacitados y dedicados a brindar un servicio excepcional. Cada miembro de nuestro equipo comparte el compromiso de mejorar la salud y el bienestar de nuestros pacientes.
        </p>
    </section>
    
    <section>
        <h3 class="title is-4 mb-4">Nuestros Valores</h3>
        <p class="content">
            Valoramos la integridad, el respeto y la compasión. Estos valores guían nuestro trabajo diario y nos ayudan a construir relaciones de confianza con nuestros pacientes y la comunidad.
        </p>
    </section>
</div>
{% endblock %}