{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital SDLG {% block title %}{% endblock title %}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'img/Logo-SDLG.svg' %}" type="image/x-icon">
    <link id="themeLink" rel="stylesheet" href={% static 'css/default-theme.css' %}>
    {% block styles %}
    {% endblock styles %}
</head>
<body>
    <header class="mb-5">
        <nav class="navbar is-spaced" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a href="/" class="navbar-item">
                    <img src="{% static 'img/Logo-SDLG-name.png' %}">
                </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarHospital">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navbarHospital" class="navbar-menu">
                <div class="navbar-start is-centered">
                    <div id="navbarDropdownUser" class="navbar-item has-dropdown is-hoverable">
                        {% if user.is_authenticated %}
                        <a id="navbarDropdownLinkUser" class="navbar-link">
                            {{ user.nombre }}
                            {{ user.username }}
                        </a>
                        <div class="navbar-dropdown is-boxed">
                            <a href="/user/panel" class="navbar-item">
                                Panel
                            </a>
                        </div>
                        {% else %}
                        <a id="navbarDropdownLinkUser" class="navbar-link">
                            User
                        </a>
                        <div class="navbar-dropdown is-boxed">
                            <a id="navbarDropdownLinkLogin" href="/user/login" class="navbar-item">
                                Login
                            </a>
                            <a id="navbarDropdownLinkRegister" href="/user/register" class="navbar-item">
                                Register
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="navbar-end">
                    <a href="/turnero/" class="navbar-item">
                        <span>Turnero</span>
                        <span class="icon">
                            <i class="fa-regular fa-calendar-minus"></i>  
                        </span>
                    </a>
                    <div id="navbarDropdownMore" class="navbar-item has-dropdown is-hoverable">
                        <a id="navbarDropdownLinkMore" class="navbar-link">
                            Opciones
                        </a>
                        <div class="navbar-dropdown is-boxed">
                            <a href="/blog/" class="navbar-item">
                                <span>Inicio</span>
                                <span class="icon">
                                    <i class="fa-solid fa-blog"></i>
                                </span>
                            </a>
                            <a href="/blog/atencionalpaciente/" class="navbar-item">
                                <span>Atención</span>
                                <span class="icon">
                                    <i class="fa-solid fa-user-nurse"></i>
                                </span>
                            </a>
                            <a href="/blog/contacto" class="navbar-item">
                                <span>Contacto</span>
                                <span class="icon">
                                    <i class="fa-solid fa-phone"></i>
                                </span>
                            </a>
                            <a href="/blog/nosotros" class="navbar-item">
                                <span>Nosotros</span>
                                <span class="icon">
                                    <i class="fa-solid fa-address-card"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <!-- Botón desplegable de tema -->
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            <i class="fas fa-palette"></i> Tema
                        </a>
                        <div class="navbar-dropdown is-boxed">
                            <a id="lightThemeOption" class="navbar-item">
                                <i class="fas fa-sun"></i> Claro
                            </a>
                            <a id="darkThemeOption" class="navbar-item">
                                <i class="fas fa-moon"></i> Oscuro
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                {% block breadcrumb %}
                {% endblock breadcrumb %}
            </ul>
        </nav>
    </header>
    <main id="body-page">
        {% block main %}
        {% endblock main %}
    </main>
    <footer class="footer has-background-dark has-text-white-ter mt-5">
        <div class="content has-text-centered">
            {% block footer_content %}
            <div class="columns is-centered">
                <div class="column is-narrow has-text-centered">
                    <div class="level-item">
                        <i class="fas fa-envelope"></i>
                        <p class="ml-2">contacto@hospitalsdlg.com</p>
                    </div>
                    <div class="level-item">
                        <i class="fas fa-phone"></i>
                        <p class="ml-2">+351 666 6469</p>
                    </div>
                    <div class="level-item">
                        <i class="fas fa-map-marker-alt"></i>
                        <p class="ml-2">Elsa Pato 2385, Córdoba Capital, Argentina</p>
                    </div>
                </div>
            </div>
            {% endblock %}
            {% block footer_text %}
            <p class="has-text-grey-lighter">©2024 SDLG. Todos los derechos reservados.</p>
            {% endblock %}
        </div>
    </footer>
</body>
<script type="module" src="{% static 'js/nav.js' %}"></script>
<script>
    $(document).ready(()=>{
        localStorage.setItem('user_id', '{{user.userID}}')
        const theme = localStorage.getItem('theme') || 'default';
            loadTheme(theme);
        
           // Cambiar tema al hacer clic en una opción
            $('#lightThemeOption').click(function() {
                localStorage.setItem('theme', 'default');
                loadTheme('default');
            });

            $('#darkThemeOption').click(function() {
                localStorage.setItem('theme', 'dark');
                loadTheme('dark');
            });

        function loadTheme(theme) {
            let themeLink = $('#themeLink');
            if (theme === 'dark') {
                themeLink.attr('href', "{% static 'css/dark-theme.css' %}");
            } else {
                themeLink.attr('href', "{% static 'css/default-theme.css' %}");
            }
        }
    })
</script>
{% block scripts %}
{% endblock scripts %}
</html>
