// ----------------------------------------------
// Variables Style
// ----------------------------------------------


// colors
$white: #fff !default;
$gray-100: #f6f8fa !default;
$gray-200: #f5f8fb !default;
$gray-300: #dbe1e6 !default;
$gray-400: #fbfcfd !default;
$gray-600: #707a82 !default;
$gray-900: #3a4752 !default;
$black: #000 !default;

// Color
$blue: #2952ff !default;
$red: #f25a5a !default;
$yellow: #f2d15a !default;
$green: #85d446 !default;
$cyan: #74dbf7 !default;
$muted: #b7c2cc !default;

$primary: $blue !default;
$secondary: #74dbf7 !default;
$success: $green !default;
$inverse: $gray-900 !default;
$info: #745af2 !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-900 !default;

// light colors
$primary-bg-subtle: #e4f1fc !default;
$secondary-bg-subtle: #e4f8fb !default;
$success-bg-subtle: #e4f5d6 !default;
$info-bg-subtle: #e7e3fd !default;
$warning-bg-subtle: #fdf7e3 !default;
$danger-bg-subtle: #fde3e3 !default;


// Theme Colorss
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "inverse": $inverse,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
) !default;


// Spacer
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: 12px,
  7: 30px,
  8: 10px,
  9: 20px,
) !default;

// Common
$min-contrast-ratio: 1.7 !default;

// Margins
$enable-negative-margins: true !default;
$enable-shadows: true !default;

// Global
$grid-gutter-width: 30px !default;

// Font Weight
$font-weight-lighter: 300 !default;
$font-weight-light: 400 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 600 !default;
$font-weight-bolder: 700 !default;
$font-weight-base: $font-weight-normal !default;

// Buttons
$btn-padding-y: 9px !default;
$btn-padding-x: 20px !default;
$btn-font-size: 14px !default;
$btn-border-radius: 30px !default;
$btn-box-shadow: unset !default;
$btn-font-weight: 600 !default;

// Font Family
$font-family-sans-serif: "Montserrat", sans-serif !default;

// Font Sizes
$font-sizes: (
  1: 10px,
  2: 12px,
  3: 14px,
  4: 16px,
  5: 18px,
  6: 20px,
  7: 24px,
  8: 30px,
  9: 36px,
  10: 40px,
  11: 13px,
) !default;

$font-size-base: 0.875rem !default;


// Line Heght
$line-height-base: 1.5 !default;
$line-height-sm: 1.25 !default;
$line-height-lg: 2 !default;

// Body
$body-bg: $white !default;
$body-color: #768b9e !default;

// Heading
$headings-color: $dark !default;
$headings-font-weight: $font-weight-bold !default;


// Border Color
$border-color: #f1f1f4 !default;

// Card
$card-title-color: $dark !default;
$card-subtitle-color: $dark !default;
$card-spacer-y: 30px !default;
$card-spacer-x: 30px !default;
$card-border-width: 0px !default;
$card-border-radius: 12px !default;
$card-box-shadow: 0px 3px 4px 0px #00000008 !default;

// Border Radius
$border-radius: 0.25rem !default; // 4px
$border-radius-sm: 0.5rem !default; // 8px
$border-radius-lg: 12px !default; // 24px
$border-radius-lg: 1.5rem !default; // 24px
$border-radius-pill: 50rem !default; // 800px


// Badges
$badge-font-size: 13px;
$badge-font-weight: 500 !default;
$badge-padding-y: 7px;
$badge-padding-x: 8px;
$badge-border-radius: 4px;



// Table
$table-cell-padding-y: 17px;
$table-cell-padding-x: 10px;
$table-striped-bg: $gray-200;
$table-th-font-weight: 600 !default;
$table-color: $dark;
$table-cell-padding-y-sm: 14px;
$table-cell-padding-x-sm: 10px;

// Progress
$progress-height:3px;

// Input
$input-box-shadow: unset !default;
$form-label-color: $gray-900;
$form-select-box-shadow: unset !default;
$input-group-addon-bg: $gray-200;
$input-group-addon-border-color: $light;
$input-border-color: #dbe1e6;
$input-bg: transparent;
$input-padding-y: 8px;
$input-padding-x: 16px;
$form-select-padding-y: 10px;
$form-select-padding-x: $input-padding-x;
$input-placeholder-color: $dark;
$input-border-radius: 0.5rem !default;
$form-check-input-width: 1.450em;
$form-check-min-height: 1.450em;
$form-check-input-border: 1px solid $input-border-color;
$form-check-input-focus-box-shadow: unset !default;
$input-padding-y-lg: 9px;
$input-padding-x-lg: 16px;
$input-group-addon-border-color: $input-border-color;


// Dropdown
$dropdown-border-radius: 1.125rem !default;
$dropdown-width: 385px;
$dropdown-item-padding-y: 10px !default;
$dropdown-border-width: 0;
$dropdown-link-hover-bg: $gray-200 !default;
$dropdown-link-active-bg: $gray-200;
$dropdown-link-active-color: $dark;

// Modal
$modal-content-border-width: 0 !default;
$modal-content-border-radius: 1.125rem !default;


// navbar
$navbar-light-color: rgba($gray-600, 1) !default;
$navbar-light-hover-color: rgba($primary, 1) !default;
$navbar-dark-color: rgba($gray-300, 1) !default;
$navbar-dark-hover-color: rgba($primary, 1) !default;